*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: black;
    height: 200px;
    display: flex;
    justify-content:space-between;
    font-weight: 200px;
    padding: 3em;
}
nav ul{
    justify-content: space-between;
     list-style: none;
    background: black;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a{
    text-decoration: none;
    color: orangered;
    padding-left: 1.5em;
}
.logo-image img{
    border-radius: 3em;
    height: 99px;
}
.container{
    background-color: black;
}
body{
    background-color: white;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
}

.hero-text{
    max-width: 1000px;
}

.hero-text h1{
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    padding-left: 13em;
}

.hero-text p{
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
    padding-left: 13em;
}
 footer{
    text-align: center;
    padding: 40px 20px 20px;
    margin-top: 40px
}

.copyright{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: smaller;
    font-size: 12px;
    color: white
} 